In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import statistics

## Création des fichiers explicites

### A ne pas refaire tourner

On reprend les bases de données auxquelles on ajoute une colonne détaillant les séquences concernées, qu'on extrait du génome explicite.

In [5]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories.bed')
reader = pd.read_csv(file, delimiter='\t')
reader[reader["chr"] == "chr2"]

        chr      start        end       type  distClosestG4  CGI  Ori  TSS
0      chr1      11008      11026  Canonical             33    0    0    0
1      chr1      11058      11078  Canonical             33    0    0    0
2      chr1      12487      12514      Bulge           1410    0    0    0
3      chr1      14664      14683      Bulge           1267    0    0    0
4      chr1      15949      15973      Bulge            687    0    0    0
...     ...        ...        ...        ...            ...  ...  ...  ...
65255  chr1  249219513  249219532       GVBQ            469    0    0    0
65256  chr1  249233011  249233033      Bulge           6333    0    0    0
65257  chr1  249239365  249239383  Canonical            366    0    0    0
65258  chr1  249239748  249239839    G-track             54    0    0    0
65259  chr1  249239892  249240621    G-track             54    0    0    0

[65260 rows x 8 columns]

##### Base de donnée des G4

In [12]:
#Pour avoir les chr dans l'ordre
list_chr_bis = reader["chr"].drop_duplicates().tolist()
list_chr = [i[3:] for i in list_chr_bis]
liste = []

file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories.bed')
reader = pd.read_csv(file, delimiter='\t')

col = reader.columns.tolist()
col1 = reader.columns.tolist()
col.append('sequence')

file_f = pd.DataFrame(columns = col)
file_f[col1] = reader

for i in list_chr:

    path = f'C:/Users/BlueC/Documents/Mines/Santé/Code/human_genome/chr{i}_G4_explicit'

    with open(path) as file:
        for line in file:
            line1 = line
            line2 = next(file)
            stripped_line = line2.strip()
            liste.append(stripped_line)


    print(i)

file_f['sequence'] = liste
file_f.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories_explicit.csv', index=False)

1
10
11
12
13
14
15
16
17
18
19
2
20
21
22
3
4
5
6
7
8
9
X
Y

##### Positions random

In [ ]:
list_chr = [1,2,3,4,5,6,7,'X',8,9,10,11,12,13,14,15,16,17,18,20,'Y',19,22,21]
liste = []

file_g = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4.csv')
reader = pd.read_csv(file_g, delimiter=',')

reader = reader.drop('Unnamed: 0', axis = 1)

col = reader.columns.tolist()
col1 = reader.columns.tolist()
col.append('sequence')

file_f = pd.DataFrame(columns = col)
file_f[col1] = reader

for i in list_chr:

    path = f'C:/Users/BlueC/Documents/Mines/Santé/Code/human_genome_random/chr{i}_G4_random_explicit'

    with open(path) as file:
        for line in file:
            line1 = line
            line2 = next(file)
            stripped_line = line2.strip()
            liste.append(stripped_line)


    print(i)

file_f['sequence'] = liste
file_f.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv', index=False)

# Création des datasets de mutations - G4

## Création des fichiers textes de comparaison

### A ne pas refaire tourner

On crée des fichiers textes dans lequels sont recensés le numéro du chromosome concerné, ainsi que toutes les positions de début et de fin des G4. Ces fichiers serviront ensuite à extraire les mutations ayant lieu dans lesdites zones, grâce à un code tournant en bash sur serveur.

In [7]:
for i in range (1,23):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_{i}.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

In [8]:
for i in (['X','Y']):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_{i}.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

## Création de la base recensant toutes les mutations ayant eu lieu sur les G4

On récupère les fichiers générés grâce au code bash précédemment évoqué pour créer une base de données complète, recensant les mutations et les caractéristiques du G4 auquel elles sont associées.

In [15]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories.bed')
reader = pd.read_csv(file, delimiter='\t')

In [20]:
i_chrom = 'Y'

In [21]:
file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_2')
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
separateurs = "\t|AA="
reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
reader2 = reader2.drop_duplicates()
reader2 = reader2.reset_index(drop=True)
reader2

,chr,pos,name,orig,mut,%,PASS,INFOS,AA
0,Y,2888555,CNV_Y_2888555_3014661,T,<CN2>,100,PASS,AC=1;AF=0.000817661;AN=1223;END=3014661;NS=123...,None
1,Y,2905267,.,T,C,100,PASS,NaN,T;AC=3;AF=0.00243309;AN=1233;DP=5233;NS=1233;A...
2,Y,3143209,CNV_Y_3143209_3453523,A,<CN2>,100,PASS,AC=1;AF=0.000817661;AN=1223;END=3453523;NS=123...,None
3,Y,3248822,CNV_Y_3248822_3253727,C,<CN2>,100,PASS,AC=6;AF=0.00490597;AN=1223;END=3253727;NS=1233...,None
4,Y,3726881,CNV_Y_3726881_3739732,G,<CN2>,100,PASS,AC=3;AF=0.00245298;AN=1223;END=3739732;NS=1233...,None
...,...,...,...,...,...,...,...,...,...
379,Y,28647820,.,G,A,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=3634;NS=1233;A...
380,Y,28648350,CNV_Y_28648350_28743248,A,"<CN0>,<CN2>",100,PASS,"AC=1,5;AF=0.000817661,0.00408831;AN=1223;END=2...",None
381,Y,28721620,CNV_Y_28721620_28781062,C,<CN2>,100,PASS,AC=2;AF=0.00163532;AN=1223;END=28781062;NS=123...,None
382,Y,28764405,.,G,A,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=4553;NS=1233;A...
383,Y,28766677,.,C,A,100,PASS,NaN,C;AC=1;AF=0.00081103;AN=1233;DP=3953;NS=1233;A...

In [ ]:
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS']
col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS']
table_finale = pd.DataFrame(columns = my_col)
table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
G4_table = G4_table.reset_index(drop = True)

In [ ]:
table_finale

In [ ]:
G4_table

In [ ]:
n_mut = len(reader2)
n_G4 = len(G4_table)
i_G4 = 0
#start_table = G4_table['start']
end_table = G4_table['end']
pos_table = reader2['pos']

for i_mut in range (n_mut):
    #start = start_table.loc[i_G4]
    end = end_table.loc[i_G4]
    pos = pos_table.loc[i_mut]
    while pos > end :
        i_G4 += 1
        end = end_table.loc[i_G4]
    table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
    if i_mut % 1000 == 0:
        print(i_mut)
print("fini")

In [ ]:
table_finale.to_csv(f'chr_{i_chrom}_final.csv')

### Automatique

In [4]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotated_G4plus_categories_explicit.csv')
reader = pd.read_csv(file)
reader

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,chr1,11008,11026,Canonical,33,0,0,0,gggcgggggttggggggg
1,chr1,11058,11078,Canonical,33,0,0,0,gggctggggcggggggaggg
2,chr1,12487,12514,Bulge,1410,0,0,0,GGGTGGTAGGTGCAGAGACGGGAGGGG
3,chr1,14664,14683,Bulge,1267,0,0,0,GGGTCTGGGGGGGAAGGTG
4,chr1,15949,15973,Bulge,687,0,0,0,GGAGCCGGGAGGTGGGGAACAGGG
...,...,...,...,...,...,...,...,...,...
732447,chrY,59362173,59362191,Canonical,370,0,0,0,gggcgggcgggctgaggg
732448,chrY,59362560,59362587,Canonical,9,0,0,0,gggtgagggtgagggttggggttgggg
732449,chrY,59362595,59363470,G-track,9,0,0,0,ggggttggggttggggttggggttggggttagggtttgggtttagg...
732450,chrY,59363480,59363508,Bulge,11,0,0,0,gggtgtgtgtgggtgtggtgtgtgtggg
732451,chrY,59363518,59363547,Canonical,11,0,0,0,gggtgtgggtgtgggtgtgggtgtgtggg

In [5]:
liste = [i for i in range (5,23)] + ['X','Y']
for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_2')
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
    separateurs = "\t|AA="
    reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
    col_G4 = ['start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
    table_finale = pd.DataFrame(columns = my_col)
    table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

    G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
    G4_table = G4_table.reset_index(drop = True)
    
    n_mut = len(reader2)
    n_G4 = len(G4_table)
    i_G4 = 0
    #start_table = G4_table['start']
    end_table = G4_table['end']
    pos_table = reader2['pos']

    for i_mut in range (n_mut):
        #start = start_table.loc[i_G4]
        end = end_table.loc[i_G4]
        pos = pos_table.loc[i_mut]
        while pos > end :
            i_G4 += 1
            end = end_table.loc[i_G4]
        table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
        if i_mut % 10000 == 0:
            print(i_mut)
    print("fini")
    table_finale = table_finale[table_finale['pos']>=table_finale['start']]
    table_finale.to_csv(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_final.csv', index = False)

chr 5
0
10000
20000
30000
fini
chr 6
0
10000
20000
30000
fini
chr 7
0
10000
20000
30000
40000
fini
chr 8
0
10000
20000
30000
fini
chr 9
0
10000
20000
30000
fini
chr 10
0
10000
20000
30000
fini
chr 11
0
10000
20000
30000
40000
fini
chr 12
0
10000
20000
30000
fini
chr 13
0
10000
fini
chr 14
0
10000
20000
fini
chr 15
0
10000
20000
fini
chr 16
0
10000
20000
30000
fini
chr 17
0
10000
20000
30000
fini
chr 18
0
10000
fini
chr 19
0
10000
20000
30000
40000
fini
chr 20
0
10000
20000
fini
chr 21
0
10000
fini
chr 22
0
10000
20000
fini
chr X
0
10000
20000
fini
chr Y
0
fini

# Création des datasets de mutations - positions random

## Création des fichiers de comparaison - fichiers sans N

### A ne pas refaire tourner

In [3]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [5]:
reader

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,chr1,2402,2426,Bulge,473,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
1,chr1,2899,2933,LongLoop,473,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
2,chr1,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
3,chr1,11469,11503,Canonical,918,NaN,NaN,NaN,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA
4,chr1,16111,16130,Bulge,2181,NaN,NaN,NaN,GGGCACTGACTTCTGCAAC
...,...,...,...,...,...,...,...,...,...
720229,chr21,48113314,48113335,GVBQ,4140,NaN,NaN,NaN,gtctttgccccattttatatt
720230,chr21,48117475,48117497,Canonical,2462,NaN,NaN,NaN,atcatcattcactctgcaataa
720231,chr21,48119959,48119981,GVBQ,2462,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
720232,chr21,48123506,48123534,Bulge,2176,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNN
720233,chr21,48125710,48125740,GVBQ,2176,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNN

In [7]:
contain_values = reader[~reader['sequence'].str.contains('N')]
contain_values

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
2,chr1,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
3,chr1,11469,11503,Canonical,918,NaN,NaN,NaN,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA
4,chr1,16111,16130,Bulge,2181,NaN,NaN,NaN,GGGCACTGACTTCTGCAAC
5,chr1,18311,18332,Bulge,2181,NaN,NaN,NaN,GGGCCAAGGAGACCTTCTCTC
6,chr1,24560,24590,Bulge,2197,NaN,NaN,NaN,CCAGGAGTAAAAGCTTCCAAGTTGGGCTCT
...,...,...,...,...,...,...,...,...,...
720226,chr21,48080453,48080472,GVBQ,13906,NaN,NaN,NaN,ATGAATGAGACCTCACAGG
720227,chr21,48097556,48097580,Canonical,2272,NaN,NaN,NaN,caccatttattaaatagggaatcc
720228,chr21,48099852,48099882,GVBQ,2272,NaN,NaN,NaN,ggttcaaagctgattgggaagagtgtgatc
720229,chr21,48113314,48113335,GVBQ,4140,NaN,NaN,NaN,gtctttgccccattttatatt
720230,chr21,48117475,48117497,Canonical,2462,NaN,NaN,NaN,atcatcattcactctgcaataa

In [9]:
(720234-668034)/720234 *100

7.247644515532452

On observe des séquences comportant des N, que l'on ne veut pas considérer. Celles-ci représentent 7% du génome. On cherche donc à supprimer ces lignes.

In [8]:
contain_values = reader[~reader['sequence'].str.contains('N')]
contain_values = contain_values.reset_index(drop=True)
contain_values.to_csv('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv', index = False)

### A ne pas refaire tourner

In [9]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv')
reader = pd.read_csv(file, delimiter=',')

In [10]:
for i in range (1,23):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_random_{i}_sansN.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

In [11]:
for i in (['X','Y']):
    test = reader[(reader['chr'] == f'chr{i}')]
    test = test[['chr','start','end']]
    test = test.sort_values(['start','end'])
    test['chr'] = i
    path = f"c:/Users/BlueC/Documents/Mines/Santé/Code/np_random_{i}_sansN.txt"
    np.savetxt(path, test.values, fmt='%s', delimiter='\t')

## Création de la base recensant toutes les mutations ayant eu lieu sur les positions aléatoires

On récupère les fichiers générés grâce au code bash précédemment évoqué pour créer une base de données complète, recensant les mutations et les caractéristiques des positions auxquelles elles sont associées.

In [4]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv')
reader = pd.read_csv(file, delimiter=',')
reader

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,chr1,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
1,chr1,11469,11503,Canonical,918,NaN,NaN,NaN,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA
2,chr1,16111,16130,Bulge,2181,NaN,NaN,NaN,GGGCACTGACTTCTGCAAC
3,chr1,18311,18332,Bulge,2181,NaN,NaN,NaN,GGGCCAAGGAGACCTTCTCTC
4,chr1,24560,24590,Bulge,2197,NaN,NaN,NaN,CCAGGAGTAAAAGCTTCCAAGTTGGGCTCT
...,...,...,...,...,...,...,...,...,...
668029,chr21,48080453,48080472,GVBQ,13906,NaN,NaN,NaN,ATGAATGAGACCTCACAGG
668030,chr21,48097556,48097580,Canonical,2272,NaN,NaN,NaN,caccatttattaaatagggaatcc
668031,chr21,48099852,48099882,GVBQ,2272,NaN,NaN,NaN,ggttcaaagctgattgggaagagtgtgatc
668032,chr21,48113314,48113335,GVBQ,4140,NaN,NaN,NaN,gtctttgccccattttatatt
668033,chr21,48117475,48117497,Canonical,2462,NaN,NaN,NaN,atcatcattcactctgcaataa

In [8]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/annotatedRand.bed')
reader = pd.read_csv(file, delimiter='\t')
reader

,chr,start,end,type,distClosestG4,sequence,CGI,Ori,TSS
0,chr1,10525,10551,Bulge,918,gccttcagagtaccaccgaaatctgt,0,0,0
1,chr1,11469,11503,Canonical,918,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA,0,0,0
2,chr1,16111,16130,Bulge,2181,GGGCACTGACTTCTGCAAC,0,0,0
3,chr1,18311,18332,Bulge,2181,GGGCCAAGGAGACCTTCTCTC,0,0,0
4,chr1,24560,24590,Bulge,2197,CCAGGAGTAAAAGCTTCCAAGTTGGGCTCT,0,0,0
...,...,...,...,...,...,...,...,...,...
668029,chr21,48080453,48080472,GVBQ,13906,ATGAATGAGACCTCACAGG,0,0,0
668030,chr21,48097556,48097580,Canonical,2272,caccatttattaaatagggaatcc,0,0,0
668031,chr21,48099852,48099882,GVBQ,2272,ggttcaaagctgattgggaagagtgtgatc,0,0,0
668032,chr21,48113314,48113335,GVBQ,4140,gtctttgccccattttatatt,0,0,0
668033,chr21,48117475,48117497,Canonical,2462,atcatcattcactctgcaataa,0,0,0

In [9]:
i_chrom = '1'

In [10]:
file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random/chr_random_{i_chrom}_sansN')
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
separateurs = "\t|AA="
reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
reader2 = reader2.drop_duplicates()
reader2 = reader2.reset_index(drop=True)

In [11]:
my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'sequence', 'CGI', 'Ori', 'TSS']
col_G4 = ['start', 'end', 'type', 'distClosestG4', 'sequence', 'CGI', 'Ori', 'TSS']
table_finale = pd.DataFrame(columns = my_col)
table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

G4_table = reader[reader['chr'] == 'chr'+str(i_chrom)]
G4_table = G4_table.reset_index(drop = True)

In [12]:
table_finale

,chr,pos,name,orig,mut,%,PASS,INFOS,AA,start,end,type,distClosestG4,sequence,CGI,Ori,TSS
0,1,10539,rs537182016,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=9203;EA...,.|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10542,rs572818783,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=9007;EA...,.|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,16127,rs544021564,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=24602;E...,c|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,58812,rs557388690,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=24132;E...,N|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,58814,rs114420996,G,A,100,PASS,AC=546;AF=0.109026;AN=5008;NS=2504;DP=24093;EA...,g|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46645,1,249216443,rs560632912,A,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=15455;E...,a|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46646,1,249216456,rs572451011,C,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=15498;E...,c|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46647,1,249218097,rs537073360,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=19204;E...,c|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46648,1,249218098,rs552245484,C,G,100,PASS,AC=7;AF=0.00139776;AN=5008;NS=2504;DP=19100;EA...,c|||;VT=SNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46649,1,249220713,esv3589584;esv3589585,T,"<CN0>,<CN2>",100,PASS,"AC=3,2;AF=0.000599042,0.000399361;AN=5008;CS=D...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
G4_table

,chr,start,end,type,distClosestG4,sequence,CGI,Ori,TSS
0,chr1,10525,10551,Bulge,918,gccttcagagtaccaccgaaatctgt,0,0,0
1,chr1,11469,11503,Canonical,918,GGGAAACACCCGGAGCATATGCTGTTTGGTCTCA,0,0,0
2,chr1,16111,16130,Bulge,2181,GGGCACTGACTTCTGCAAC,0,0,0
3,chr1,18311,18332,Bulge,2181,GGGCCAAGGAGACCTTCTCTC,0,0,0
4,chr1,24560,24590,Bulge,2197,CCAGGAGTAAAAGCTTCCAAGTTGGGCTCT,0,0,0
...,...,...,...,...,...,...,...,...,...
57980,chr1,249222940,249222956,Canonical,4827,CCTCCAACTCATTTTT,0,0,0
57981,chr1,249231147,249231170,Canonical,2430,GGTCACCACCCTGATTTGTCCTG,0,0,0
57982,chr1,249233600,249233620,Bulge,1091,atctgtctacatatatccta,0,0,0
57983,chr1,249234711,249234735,GVBQ,1091,GGAAAGGTCTTTTTGAACCTTTTA,0,0,0
57984,chr1,249235840,249235860,GVBQ,1105,TTAATTGGATAAAGTAAGTT,0,0,0

In [14]:
n_mut = len(reader2)
n_G4 = len(G4_table)
i_G4 = 0
#start_table = G4_table['start']
end_table = G4_table['end']
pos_table = reader2['pos']

for i_mut in range (n_mut):
    #start = start_table.loc[i_G4]
    end = end_table.loc[i_G4]
    pos = pos_table.loc[i_mut]
    while pos > end :
        i_G4 += 1
        end = end_table.loc[i_G4]
    table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
    if i_mut % 1000 == 0:
        print(i_mut)
print("fini")
table_finale = table_finale[table_finale['pos']>=table_finale['start']]

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
fini

In [15]:
table_finale = table_finale[table_finale['pos']>=table_finale['start']]

In [16]:
table_finale[table_finale['sequence'].str.contains('N')]

Empty DataFrame
Columns: [chr, pos, name, orig, mut, %, PASS, INFOS, AA, start, end, type, distClosestG4, sequence, CGI, Ori, TSS]
Index: []

In [17]:
table_finale

,chr,pos,name,orig,mut,%,PASS,INFOS,AA,start,end,type,distClosestG4,sequence,CGI,Ori,TSS
0,1,10539,rs537182016,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=9203;EA...,.|||;VT=SNP,10525,10551,Bulge,918,gccttcagagtaccaccgaaatctgt,0,0,0
1,1,10542,rs572818783,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=9007;EA...,.|||;VT=SNP,10525,10551,Bulge,918,gccttcagagtaccaccgaaatctgt,0,0,0
2,1,16127,rs544021564,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=24602;E...,c|||;VT=SNP,16111,16130,Bulge,2181,GGGCACTGACTTCTGCAAC,0,0,0
3,1,58812,rs557388690,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=24132;E...,N|||;VT=SNP,58787,58814,Canonical,3975,AATCAAACACATGGTCTTTTCCTCCAG,0,0,0
4,1,58814,rs114420996,G,A,100,PASS,AC=546;AF=0.109026;AN=5008;NS=2504;DP=24093;EA...,g|||;VT=SNP,58787,58814,Canonical,3975,AATCAAACACATGGTCTTTTCCTCCAG,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46644,1,249214746,rs138338484,T,C,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=23344;E...,t|||;VT=SNP,249214737,249214770,Bulge,1360,attattgatggacatttgggttggttccaagtc,0,0,0
46645,1,249216443,rs560632912,A,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=15455;E...,a|||;VT=SNP,249216420,249216459,Bulge,1638,gctagttttttgtatttttggtagagacggggtttcacc,0,0,0
46646,1,249216456,rs572451011,C,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=15498;E...,c|||;VT=SNP,249216420,249216459,Bulge,1638,gctagttttttgtatttttggtagagacggggtttcacc,0,0,0
46647,1,249218097,rs537073360,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=19204;E...,c|||;VT=SNP,249218097,249218113,Bulge,1638,CAGCTACCAAGACAGC,0,0,0
46648,1,249218098,rs552245484,C,G,100,PASS,AC=7;AF=0.00139776;AN=5008;NS=2504;DP=19100;EA...,c|||;VT=SNP,249218097,249218113,Bulge,1638,CAGCTACCAAGACAGC,0,0,0

In [18]:
table_finale.to_csv(f'chr_random_{i_chrom}_final_sansN.csv', index=False)

### Automatique

In [19]:
liste = [i for i in range (2,23)] + ['X','Y']
for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random/chr_random_{i_chrom}_sansN')
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']
    separateurs = "\t|AA="
    reader2 = pd.read_csv(file2, sep = separateurs, names = my_col, header = None, engine ='python')
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'sequence', 'CGI', 'Ori', 'TSS']
    col_G4 = ['start', 'end', 'type', 'distClosestG4', 'sequence', 'CGI', 'Ori', 'TSS']
    table_finale = pd.DataFrame(columns = my_col)
    table_finale[['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA']] = reader2

    G4_table = reader[reader['chr'] == 'chr' + str(i_chrom)]
    G4_table = G4_table.reset_index(drop = True)
    
    n_mut = len(reader2)
    n_G4 = len(G4_table)
    i_G4 = 0
    #start_table = G4_table['start']
    end_table = G4_table['end']
    pos_table = reader2['pos']

    for i_mut in range (n_mut):
        #start = start_table.loc[i_G4]
        end = end_table.loc[i_G4]
        pos = pos_table.loc[i_mut]
        while pos > end :
            i_G4 += 1
            end = end_table.loc[i_G4]
        table_finale.loc[i_mut,col_G4] = G4_table.loc[i_G4]
        if i_mut % 10000 == 0:
            print(i_mut)
    print("fini")
    
    table_finale = table_finale[table_finale['pos']>=table_finale['start']]
    table_finale.to_csv(f'chr_random_{i_chrom}_final_sansN.csv', index=False)

chr 2
0
10000
20000
30000
40000
fini
chr 3
0
10000
20000
30000
fini
chr 4
0
10000
20000
fini
chr 5
0
10000
20000
fini
chr 6
0
10000
20000
fini
chr 7
0
10000
20000
30000
fini
chr 8
0
10000
20000
fini
chr 9
0
10000
20000
fini
chr 10
0
10000
20000
fini
chr 11
0
10000
20000
30000
fini
chr 12
0
10000
20000
fini
chr 13
0
10000
fini
chr 14
0
10000
fini
chr 15
0
10000
fini
chr 16
0
10000
20000
fini
chr 17
0
10000
20000
fini
chr 18
0
10000
fini
chr 19
0
10000
20000
30000
fini
chr 20
0
10000
fini
chr 21
0
fini
chr 22
0
10000
fini
chr X
0
10000
fini
chr Y
0
fini

# Vérification des fichiers

In [6]:
file = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit.csv')
reader = pd.read_csv(file, delimiter=',')

In [7]:
reader_chr2 = reader[reader['chr'] == 'chr2']

In [8]:
reader_chr2[reader_chr2['sequence'].str.contains('N')]

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
64261,chr2,3882,3905,Canonical,205,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNN
64262,chr2,4110,4132,Canonical,205,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
64263,chr2,6065,6087,Bulge,1268,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNN
64264,chr2,7355,7378,GVBQ,308,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNN
64265,chr2,7686,7710,GVBQ,308,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
...,...,...,...,...,...,...,...,...,...
116891,chr2,243132031,243132047,Bulge,330,NaN,NaN,NaN,NNNNNNNNNNNNNNNN
116892,chr2,243132493,243132517,Bulge,446,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNN
116893,chr2,243133964,243133991,GVBQ,1447,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNN
116894,chr2,243148070,243148095,Bulge,2027,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNN
116895,chr2,243150122,243150142,Canonical,2027,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNN

In [9]:
file2 = open('C:/Users/BlueC/Documents/Mines/Santé/Code/random_G4_explicit_sansN.csv')
reader2 = pd.read_csv(file2, delimiter=',')

In [10]:
reader2_chr2 = reader2[reader2['chr'] == 'chr2']
reader2_chr2

,chr,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
57985,chr2,15937,15965,Canonical,7007,NaN,NaN,NaN,TCTGGCTCTATTTTGGGTGACATGCTCC
57986,chr2,39121,39146,Bulge,2013,NaN,NaN,NaN,AGCCGTCACTATTGCCCATTCTTGT
57987,chr2,41159,41188,GVBQ,2013,NaN,NaN,NaN,TGATTACTTTGATTTAAATGATGTTAATC
57988,chr2,50770,50791,GVBQ,247,NaN,NaN,NaN,tcccaggaatgtattctaagg
57989,chr2,51038,51061,Bulge,247,NaN,NaN,NaN,gggggctcctgatatctttttgg
...,...,...,...,...,...,...,...,...,...
109539,chr2,243177646,243177662,GVBQ,65,NaN,NaN,NaN,ggttgtctattggctt
109540,chr2,243179828,243179850,Bulge,524,NaN,NaN,NaN,AAGAAGAGAGCATGGTTACATT
109541,chr2,243180374,243180401,Bulge,410,NaN,NaN,NaN,AAAGAATCAACCTGGGAGCCAAGCCCA
109542,chr2,243180811,243180834,Bulge,410,NaN,NaN,NaN,TATGATTCCCTTGCTGCCTGGAA
109543,chr2,243187703,243187728,GVBQ,6869,NaN,NaN,NaN,acccaggaggtggaggttgcaggga

In [11]:
reader2_chr2[reader2_chr2['sequence'].str.contains('N')]

Empty DataFrame
Columns: [chr, start, end, type, distClosestG4, CGI, Ori, TSS, sequence]
Index: []

Il n'y a plus de N dans la base.

### Création d'un fichier unique de mutation

##### Fichier G4

In [7]:
liste = [i for i in range (1,23)] + ['X','Y']

my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
table_finale = pd.DataFrame(columns = my_col)

for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/chr_{i_chrom}_final.csv')
    reader2 = pd.read_csv(file2)
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    table_finale = pd.concat([table_finale,reader2])


table_finale.to_csv(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr/table_mut_final.csv', index = False)

chr 1
chr 2
chr 3
chr 4
chr 5
chr 6
chr 7
chr 8
chr 9
chr 10
chr 11
chr 12
chr 13
chr 14
chr 15
chr 16
chr 17
chr 18
chr 19
chr 20
chr 21
chr 22
chr X
chr Y

In [14]:
table_finale.reset_index(drop = True)

,chr,pos,name,orig,mut,%,PASS,INFOS,AA,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,1,11008,rs575272151,C,G,100,PASS,AC=441;AF=0.0880591;AN=5008;NS=2504;DP=2232;EA...,.|||;VT=SNP,11008,11026,Canonical,33,0,0,0,gggcgggggttggggggg
1,1,11012,rs544419019,C,G,100,PASS,AC=441;AF=0.0880591;AN=5008;NS=2504;DP=2090;EA...,.|||;VT=SNP,11008,11026,Canonical,33,0,0,0,gggcgggggttggggggg
2,1,11063,rs561109771,T,G,100,PASS,AC=15;AF=0.00299521;AN=5008;NS=2504;DP=2834;EA...,.|||;VT=SNP,11058,11078,Canonical,33,0,0,0,gggctggggcggggggaggg
3,1,14674,rs561913721,G,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=26402;E...,g|||;VT=SNP;EX_TARGET,14664,14683,Bulge,1267,0,0,0,GGGTCTGGGGGGGAAGGTG
4,1,16738,rs549612027,G,A,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=16499;E...,g|||;VT=SNP,16707,16739,Bulge,20,0,0,0,GGAGCtgggggtggtggtgggggcggtggggg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746382,Y,28612378,.,G,C,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=4523;NS=1233;A...,28612349,28612379,GVBQ,139,0,0,0,gggtgggggaaaaggattggggtgaggggg
746383,Y,28612534,.,T,A,100,PASS,NaN,T;AC=1;AF=0.00081103;AN=1233;DP=4897;NS=1233;A...,28612517,28612547,Bulge,139,0,0,0,gaggtacatgtgggagttgggacatggggg
746384,Y,28647820,.,G,A,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=3634;NS=1233;A...,28647789,28647820,Bulge,7632,0,0,0,GGGCCCTGTGGTGTTTGGGAGAgggaagggg
746385,Y,28764405,.,G,A,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=4553;NS=1233;A...,28764404,28764427,GVBQ,394,0,0,0,ggggtggggcagatggttttggg
746386,Y,28766677,.,C,A,100,PASS,NaN,C;AC=1;AF=0.00081103;AN=1233;DP=3953;NS=1233;A...,28766677,28766701,GVBQ,1444,0,0,0,gggcattaggactggggcactggg

##### Fichier random

In [22]:
liste = [i for i in range (1,23)] + ['X','Y']

my_col = ['chr', 'pos', 'name', 'orig', 'mut', '%', 'PASS','INFOS', 'AA', 'start', 'end', 'type', 'distClosestG4', 'CGI', 'Ori', 'TSS','sequence']
table_finale = pd.DataFrame(columns = my_col)

for i_chrom in (liste):
    print("chr",i_chrom)
    file2 = open(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random_{i_chrom}_final_sansN.csv')
    reader2 = pd.read_csv(file2)
    reader2 = reader2.drop_duplicates()
    reader2 = reader2.reset_index(drop=True)
    
    table_finale = pd.concat([table_finale,reader2])


table_finale.to_csv(f'C:/Users/BlueC/Documents/Mines/Santé/Code/chr_random/table_mut_random_final.csv', index = False)

chr 1
chr 2
chr 3
chr 4
chr 5
chr 6
chr 7
chr 8
chr 9
chr 10
chr 11
chr 12
chr 13
chr 14
chr 15
chr 16
chr 17
chr 18
chr 19
chr 20
chr 21
chr 22
chr X
chr Y

In [23]:
table_finale.reset_index(drop = True)

,chr,pos,name,orig,mut,%,PASS,INFOS,AA,start,end,type,distClosestG4,CGI,Ori,TSS,sequence
0,1,10539,rs537182016,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=9203;EA...,.|||;VT=SNP,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
1,1,10542,rs572818783,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=9007;EA...,.|||;VT=SNP,10525,10551,Bulge,918,NaN,NaN,NaN,gccttcagagtaccaccgaaatctgt
2,1,16127,rs544021564,C,A,100,PASS,AC=3;AF=0.000599042;AN=5008;NS=2504;DP=24602;E...,c|||;VT=SNP,16111,16130,Bulge,2181,NaN,NaN,NaN,GGGCACTGACTTCTGCAAC
3,1,58812,rs557388690,C,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=24132;E...,N|||;VT=SNP,58787,58814,Canonical,3975,NaN,NaN,NaN,AATCAAACACATGGTCTTTTCCTCCAG
4,1,58814,rs114420996,G,A,100,PASS,AC=546;AF=0.109026;AN=5008;NS=2504;DP=24093;EA...,g|||;VT=SNP,58787,58814,Canonical,3975,NaN,NaN,NaN,AATCAAACACATGGTCTTTTCCTCCAG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535375,Y,23522894,.,C,T,100,PASS,NaN,C;AC=1;AF=0.00081103;AN=1233;DP=4987;NS=1233;A...,23522871,23522900,GVBQ,9535,NaN,NaN,NaN,TCTTATGTATAGTTGCTTGCAGCAAAAGA
535376,Y,28625627,.,A,T,100,PASS,NaN,A;AC=1;AF=0.00081103;AN=1233;DP=4702;NS=1233;A...,28625588,28625650,Canonical,6088,NaN,NaN,NaN,gaaagtagtttccatggggtgggggtaggggagaatagagttagtg...
535377,Y,28631750,.,A,G,100,PASS,NaN,A;AC=1;AF=0.00081103;AN=1233;DP=4785;NS=1233;A...,28631738,28631758,Canonical,4845,NaN,NaN,NaN,aaaacaaaattatcatgaga
535378,Y,28686135,.,G,C,100,PASS,NaN,G;AC=1;AF=0.00081103;AN=1233;DP=4508;NS=1233;A...,28686118,28686147,GVBQ,32661,NaN,NaN,NaN,ccacaaaaaacaataagatcctggccaag
535379,Y,28761519,.,C,A,100,PASS,NaN,C;AC=1;AF=0.00081103;AN=1233;DP=41778;NS=1233;...,28761503,28761524,GVBQ,15774,NaN,NaN,NaN,ATAGCTTTTCCACACCTCCAC